
<center>
    <h1>Quadrants</h1>
</center>

@{ ViewData["Title"] = "Home Page"; }


@model List<MatrixResponse>

<table class="table table-striped">

    <thead class="font-weight-bold table-bordered">
        <tr>
            <td>Urgent</td>
            <td>Not Urgent</td>
        </tr>
    </thead>

    <tbody>
        @foreach (var x in Model)
        {

            @if (x.Completed == false)
            {

                @if (x.Quadrant == 1)
                {
                    <tr>

                        <td>@x.Task</td>
                    </tr>
                }

                @if (x.Quadrant == 2)
                {
                    <tr>

                        <td>@x.Task</td>
                    </tr>
                }
                @if (x.Quadrant == 3)
                {
                    <tr>
                        <td>@x.Task</td>
                    </tr>
                }
                @if (x.Quadrant == 4)
                {
                    <tr>
                        <td>@x.Task</td>
                    </tr>
                }
            }
        }
    </tbody>

</table>
    <br />
    <br />
    <h1>testg using divs</h1>
    <div class="column">
        <div class="row">hello</div>
        <div class="row">hello </div>
    </div>
    <div class="row">
        <div class="column">hello </div>
        <div class="column"></div>

    </div>

    <div class="row">
        <div class="column"></div>
        <div class="column"></div>

    </div>

    <br />
    <br />

    <h1>Test using GPT</h1>

    <table>
        <tr>
            <td class="top-left">
                hello govna
                @* Razor code for top-left quadrant *@
            </td>
            <td class="top-right">
                test
                @* Razor code for top-right quadrant *@
            </td>
        </tr>
        <tr>
            <td class="bottom-left">
                test yo
                @* Razor code for bottom-left quadrant *@
            </td>
            testing 
            <td class="bottom-right">
                @* Razor code for bottom-right quadrant *@
            </td>
        </tr>
    </table>





